h1 {
    font-family: "New Amsterdam", system-ui;
    font-weight: 700;
    font-style: normal; 
    font-size: 3rem; 
    color: #3498db; 
    text-align: center; 
    letter-spacing: 2px; 
    transition: transform 0.3s; 
}

h1:hover {
    transform: scale(1.05); 
    }

    h2 {
        font-family: "New Amsterdam", system-ui;
        font-weight: 700;
        font-style: normal; 
        font-size: 2rem; 
        color: #101111; 
        text-align: center; 
        letter-spacing: 2px; 
        transition: transform 0.3s; 
    }