
nav {
  background-color: rgb(104, 109, 118); 
  padding: 15px 20px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.list {
  list-style: none; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 0; 
  padding: 0; 
}

.list li {
  margin: 0 15px; 
}

.list a {
  color: #ecf0f1; 
  text-decoration: none; 
  font-weight: bold; 
  transition: color 0.3s; 
}

.list a:hover {
  color: #0c0c0c; 
}

.isActive {
  border-bottom: 2px solid #3498db; 
}
